.app {
  padding: 0 !important;

  .title {
    height: 100px;
    background-color: #1da3e2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      color: #fff;
    }
  }
}
