.add-task {
  border-top: 1px solid #dadada;

  input {
    border: 0 !important;
    width: 100%;
    height: 60px;
    padding: 20px 50px;
    font-size: 22px;

    &:focus {
      outline: none; // para que al pulsar encima, no aparezca el borde azul
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 10px;
    background-color: transparent;
    border: 0;
    height: 100%;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent !important;
      box-shadow: none !important ;
    }

    svg {
      fill: #bdbdbd;
      width: 20px;
    }
  }
}
